body{
background-image: url('art.jpeg'); /* Add your image file here */
background-size: cover;
background-repeat: no-repeat;
font-family: Arial, sans-serif;
color: black;
}

nav{
background-color: green;
padding: 10px;
}

nav a{
color: white;
margin: 10px;
text-decoration: none;
font-weight: bold;
}

h1{
color: darkgreen;
}

table{
width: 80%;
border-collapse: collapse;
}

th, td{
padding: 10px;
text-align: center;
}

th{
background-color: skyblue;
color: white;
}